.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: flex;
  width: 75vh;
  height: 50vh;
  align-items: center;
  background-color: #000000;
  min-height: 200px;
  margin: auto;
  padding: 23px;
  border-radius: 15px;
  box-shadow: 20px 14px 29px 1px rgba(141, 138, 93, 0.75);
}

.score-section {
  display: flex;
  font-size: 38px;
  margin: auto;

}

.question-section {
  width: 100%;
  margin: 10px;
  position: relative;
}

.question-count {
  margin-bottom: 19px;
}

.question-count span {
  font-size: 30px;
}

.question-text {
 margin: 10px;
}


.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

button {
  width: 100%;
  font-size: 15px;
  color: #ffffffeb;
  padding: 5px;
  background-color: #14192bf2;
  border-radius: 14px;
  border: 3px solid #1a223c;
  cursor: pointer;
  margin-bottom: 15px;
  height: 40px;
  height: fit-content;
  transition: 0.5s;
}
button:hover{
  padding: 14px;
   color: white;
   border: 2px solid #9f9b60;
   background-color: rgb(30, 41, 61);
   
}
.next button{
  display: flex;
  margin: 10px;
width: 40px;
  align-items: baseline;
  width: fit-content;
}

